<!-- app.html -->
{% extends 'base/base.html' %}
{% load static %}

<!DOCTYPE html>

{% block content %}

<div class="container">
    <div class="mb-4">
        <h3 class="text-muted font-weight-lighter">Filter and Search for IOT Devices</h3>
    </div>

    <h4 class="text-muted font-weight-bold">Popular Stats for Guyana</h4>
    <hr>

    {% for facet, value in result_dict.items %}
    <div class="content-box">
        <p class="lead text-warning">Top 5 {{ facet }}</p>

        {% for facet_item, count in value.items  %}
        <button type="button" id="btn" class="btn btn-default">
            <span class="text-monospace text-primary item">{{ facet_item }}</span> <span
                class="badge badge-info">{{ count }}</span>
        </button>
        {% endfor %}

        <p class="text-muted mt-2">Specify your own</p>
        <div class="form-row bg-light p-2 content-box-2">

            <div class="col-3">
                <input type="text" id="facet" value="{{ facet }}" class="form-control">
            </div>
            <div class="col-8">
                <input type="text" id="custom-query" class="form-control"
                    placeholder="separate multiple by comma e.g. item, item">
            </div>
            <div class="col-1">
                <button class="btn btn-outline-warning btn-small add">Add</button>
            </div>

        </div>
        <hr>
    </div>
    {% endfor %}
</div>

<script>
    var custom_search_query = "";
    var click_search_query = "";


    $(".content-box button .item").click(function () {
        $('#search-query').val('');
        var temp_search_query = "";
        // var utt = $(this).find('p').text();
        var item = $(this).text();
        var split_item = item.split(':')

        var facet = split_item[0];
        var double_quoted = '"' + split_item[1] + '"';

        temp_search_query = facet + ':' + double_quoted;

        if (click_search_query) {
            click_search_query += ',' + temp_search_query;
        } else {
            click_search_query += temp_search_query;
        }

        if (custom_search_query) {
            click_search_query += ',' + custom_search_query;
            custom_search_query = "";
        }


        $('#search-query').val('country:GY' + ',' + click_search_query);

    });


    $(".content-box-2 .add").click(function () {
        $('#search-query').val('');
        var custom_text = ""
        var search_term = "";
        var facet = $(this).parents('.content-box-2').find('#facet').val();
        var temp_custom_search_query = $(this).parents('.content-box-2').find('#custom-query').val();
        if ($(this).parents('.content-box-2').find('#custom-query').val()) {
            temp_custom_search_query = ',' + temp_custom_search_query;
            temp_custom_search_query = temp_custom_search_query.trim();
            temp_custom_search_query = temp_custom_search_query.split(',');
            temp_custom_search_query.splice(0, 1)

            var i;
            for (i = 0; i < temp_custom_search_query.length; i++) {
                custom_text = facet + ':' + '"' + temp_custom_search_query[i] + '"';

                if ((i + 1) == (temp_custom_search_query.length)) {
                    custom_text = facet + ':' + '"' + temp_custom_search_query[i] + '"';
                } else {
                    custom_text = facet + ':' + '"' + temp_custom_search_query[i] + '",';
                }

                if (search_term) {
                    search_term += custom_text;
                } else {
                    search_term = custom_text
                }

            }

            if (custom_search_query) {
                custom_search_query += ',' + search_term;
            } else {
                custom_search_query = search_term;
            }

            if (click_search_query) {
                custom_search_query += ',' + click_search_query;
                click_search_query = "";
            }


            $('#search-query').val('country:GY' + ',' + custom_search_query);
        }

    });

    $("#search-query").keyup(function () {
        if (!$(this).val()) {
            temp_search_query = "";
            search_query = "";
        }

    });
</script>



{% endblock content %}