<!-- results.html -->
{% extends 'base/base.html' %}
{% load static %}

<!DOCTYPE html>


{% block content %}

<!-- results.html -->
<div class="container">
    <div class="mb-4">
        <h3 class="text-muted font-weight-lighter">Filter and Search for IOT Devices</h3>
        <a href="/" class="btn btn-outline-secondary">
            <- Search again</a> </div> <h4 class="text-muted font-weight-bold">Search Results for Guyana</h4>
                <p class="text-muted">Search Query: <span class="font-weight-lighter">{{ query }}</span></p>
                <hr>

                {% for ip, data in search_results.items %}

                <div class="card p-3 m-4">
                    <p class="text-monospace lead font-weight-bold text-danger">{{ ip }}</p>
                    <p>{{ data }}</p>
                </div>

                {% endfor %}

    </div>


    {% endblock content %}