<!-- base.html -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>

<!--  Main Navigation  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/"><span class="text-danger">Py</span><span class="text-muted">Shodan</span></a>
</nav>

<div class="bg-info p-2 sticky-top">
<div class="container">
  <form method="POST">
    {% csrf_token %}
    
    <div class="input-group m-3">
      <input type="text" name="search-query" id="search-query" class="form-control" placeholder="Search Query" readonly>
      <div class="input-group-append">
        <button class="btn btn-outline-warning" type="submit">Find IOT Devices</button>
      </div>
    </div>
  </form>
</div>
</div>
<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <div><span class="display-4 text-danger text-bolder text-monospace">IOT Search Engine</span> <span class="text-success">|</span> <span class="lead text-muted">Powered by Shodan's REST API</span></div>
    <p class="lead mt-4 text-info">This app shows some of the possibilities when using Shodan from your python app.</p>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

   <!-- Main Navigation -->
    {% block content %}

    {% endblock content %}
  </body>
</html>